@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  overflow: visible;
}

img {
  image-rendering: auto;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #020608;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  min-width: 100%;
  min-height: 100%;
}

.min-h-screen {
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: inherit;
}

button {
  cursor: pointer;
}

.book-search {
  margin-bottom: 40px;
}

/*Footer styles*/
.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: #e2f1f8;
  overflow: visible;
  max-width: 100%;
}

.footer > div {
  padding: 1px;
  margin: 10px;
  font-size: medium;
  font-weight: bold;
}

/*navbar styles*/
.navbar-container {
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e2f1f8;
  overflow: visible;
  height: 120px;
  width: 100%;
}

@media screen and (max-width: 642px) {
  .nav {
    width: 100%;
    height: 150px;
    flex-direction: column;
    padding-top: 20px;
    margin-bottom: 40px;
    transition: flex-direction 0.3s ease;
  }
}

ul {
  display: flex;
  list-style: none;
}

.nav > ul > li > a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin: 20px;
}

a:hover {
  cursor: pointer;
}

.nav ul li :hover {
  text-decoration: underline;
  text-decoration-color: goldenrod;
}

.website-header {
  font-size: 45px;
  font-weight: bold;
  -webkit-text-fill-color: rgb(141, 156, 156);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(9, 14, 45);
}

/*Book search form styles*/
.form {
  text-align: center;
}

#input {
  margin: 5px;
  border-radius: 15px;
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

#submit,
#reset {
  border-radius: 50%;
  margin: 3px;
  cursor: pointer;
  position: relative;
}

button[id="reset"] {
  background-image: url(../images/icons8-reset-48.png);
}
button[type="submit"].bookform-submit {
  background-image: url(../images/searchIcon.png);
  border-radius: 16px;
}

button[type="submit"].review-submit {
  border-radius: 8px;
}

button[type="submit"].bookform-submit,
button[id="reset"] {
  background-size: contain;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  border: solid;
  padding: 10px;
}

.form-inputs-and-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 550px) {
  .form-inputs-and-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/*Wishlist and Readlist styles*/
.header {
  font-size: 24px;
  font-weight: bold;
}

.image-container,
.wishlist-books,
.read-books {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book-details {
  margin: 20px;
  margin-bottom: 145px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-details .book-image,
.read-books-image,
.wishlist-books-image {
  opacity: 1;
  transition: filter 0.3s;
  height: 200px;
  width: 150px;
  border: 2px lightblue solid;
  border-radius: 10px;
  margin: 10px;
}

.book-details:hover .book-image,
.book-details:hover .wishlist-books-image,
.book-details:hover .read-books-image {
  cursor: pointer;
  filter: blur(4px);
  -webkit-filter: blur(4px);
}

.image-links {
  font-size: small;
  font-weight: bolder;
  cursor: pointer;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.book-details:hover .image-links {
  opacity: 1;
}

.image-links > div,
.image-links > a,
.add-read {
  border: 2px solid rgb(83, 81, 81);
  background-color: #fdbaad;
  border-radius: 10px;
  padding: 2px;
}

.add-read {
  text-decoration: none;
  color: black;
}

.ToReadLink {
  position: absolute;
  top: 0;
  right: 50px;
}

.ReadLink {
  position: absolute;
  top: 0;
  right: 0;
}

.read-header,
.wishlist-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bolder;
  display: flex;
  text-align: center;
}

/*Can't find statement for no book result during book search */
.cant-find-statement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: bold;
}

/*Links that are part of the book images in book search, readlist,wishlist pages */
.book-details-review {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wishlist-review-column-1,
.readlist-review-column-1 {
  float: left;
  width: 20%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.wishlist-review-column-2,
.readlist-review-column-2 {
  float: left;
  width: 60%;
  position: relative;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.book-details-review:after {
  content: "";
  display: table;
  clear: both;
}

/* Profile dropdown*/
.profile-dropdown-content {
  display: none;
  position: absolute;
  top: 70px;
  right: 0%;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 1;
}

@media screen and (max-width: 642px) {
  .profile-dropdown-content {
    top: 150px;
  }
}

.profile:hover > .profile-dropdown-content {
  display: block;
}

.profile-dropdown-subitem {
  color: #020608;
  font-weight: 400;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 10px;
  cursor: context-menu;
}

.profile-dropdown-subitem a {
  text-decoration: none;
  color: #020608;
  font-weight: bold;
}

.profile-dropdown-content > div :hover {
  background-color: #e2f3f8;
  font-size: large;
  cursor: pointer;
  border-radius: 10px;
}
